@import url(https://fonts.googleapis.com/css?family=Russo+One);
@import url(https://fonts.googleapis.com/css?family=Roboto);

$main-bg-color: #f1f2f0;
$accent-green: #AFEAAA;
$accent-gray: #e1e0dd;
$accent-black: #35342f;

body {
  background-color: $main-bg-color;
  color: $accent-black;
  font-family: 'Roboto', sans-serif;
}

.main-app-body {
  text-align: center;
}

.main-app-header {
  background-color: $accent-green;
  height: 3em;
  font-size: 2em;
  text-align: center;
  vertical-align: middle;
  line-height: 3em; 
  font-family: 'Russo One', sans-serif;
  letter-spacing: .4em;
}

.filter-container {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;

  span {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.houses {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 400px;
  height: 300px;
  border: 1px solid $accent-gray;
  background-color: white;
  border-radius: 4px;
  margin: 5px;
  img {
    float: left;
  }
}

.house-header {
  font-size: 2em;
}

.house-description {
  padding-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  clear: left;
  text-align: left;
}

input[type="text"] {
  width: 200px;
  padding: 10px;
  border: 2px solid $accent-gray;
  border-radius: 4px;
  transition: box-shadow 0.3s, border 0.3s;

  &:focus {
  outline-width: 0;
  border: solid 2px #41924B;
  box-shadow: 0 0 5px 1px $accent-green;
  }
}


// .counter-num-label {
//   color: $accent-orange;
//   padding-top: 1em;
//   font-size: 3em;
//   text-align: center;
//   width: 100%;
// }

// .counter-even-label {
//   padding-top: 1em;
//   font-size: 0.75em;
//   text-align: center;
//   text-transform: uppercase;
//   letter-spacing: 3px;
// }

// .counter-buttons {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   padding-top: 3em;

//   button {
//     background-color: #CCC;
//     border: none;
//     height: 30px;
//     width: 80px;
//     margin-left: 1em;
//     margin-right: 1em;

//     &:hover {
//       background-color: $accent-gray;
//     }
//   }
// }

// footer {
//   font-size: 0.75em;
//   text-align: center;
//   padding-top: 10em;

//   a {
//     text-decoration: none;
//     color: inherit;

//     &:hover {
//       color: $accent-blue;
//     }
//   }

//   #heart{
//     color: $accent-red;
//   }
// }
